#body {
    background-color: blue;
}

#score 
{
    font-size: 21px;
    margin-left: 20px;
}

#time
{
    font-size: 21px;
    margin-right:20px;
    float:right;
}

#drawn
{
    color:black;
    padding-top: 10px;
    font-size: 21px;
}